:root {
	--primary-color: #e3e1e1;
	--primary-foreground-color: #14120b;
	--primary-muted: #e3e1e1cc;
	--foreground: #1b1913;
	--foreground-muted: #1d1b15;
	--secondary: #999896;
	--secondary-muted: #201e18;
	--border: #393832;
	--border-2: #2b2923;
	--border-3: #4f4b40;
	--accent: #f54e00;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
	background-color: var(--primary-foreground-color);
	color: var(--primary-color);
}

body::selection {
	background-color: var(--border);
}

.p-20 {
	padding: 0 22px;
}

.header {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: var(--primary-foreground-color);
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 12px 0px;
}

.logo {
	width: 95px;
	cursor: pointer;
}

.list {
	display: flex;
	align-items: center;
	gap: 6px;
}

.list_item {
	list-style: none;
}

.list_link {
	text-decoration: none;
	font-size: 14px;
	font-weight: 400;
	color: var(--primary-color);
	cursor: pointer;
	text-transform: capitalize;
	letter-spacing: 0.2px;
	padding: 0px 12px;
}

.list_link:hover {
	color: var(--primary-muted);
	transition: all 0.3s ease-in-out;
}

.cta {
	display: flex;
	gap: 8px;
}

.sign_in_btn {
	padding: 5px 12px;
	border-radius: 5rem;
	border: 1px solid var(--border);
	background-color: transparent;
	color: var(--primary-color);
	cursor: pointer;
	font-weight: 400;
	transition: all 0.1s ease-in;
}

.sign_in_btn:hover {
	background-color: var(--foreground);
	transition: all 0.3s ease-in-out;
}

.download_btn {
	padding: 5px 14px;
	border-radius: 5rem;
	border: none;
	color: var(--foreground);
	background-color: var(--primary-color);
	cursor: pointer;
	font-weight: 500;
	transition: all 0.1s ease-in;
}

.download_btn:hover {
	background-color: var(--primary-muted);
	transition: all 0.3s ease-in-out;
}

.hero_heading {
	margin-top: 7rem;
	max-width: 35rem;
}

.hero_h1 {
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 33px;
	margin-bottom: 1.3rem;
}

.hero_btn {
	padding: 11px 22px;
	display: flex;
	align-items: center;
	gap: 4px;
	border-radius: 5rem;
	border: none;
	color: var(--foreground);
	background-color: var(--primary-color);
	cursor: pointer;
	font-weight: 500;
	font-size: 16px;
	transition: all 0.1s ease-in;
}

.hero_btn:hover {
	background-color: var(--primary-muted);
	transition: all 0.3s ease-in-out;
}

.hero_btn span {
	font-size: 18px;
}

.demo {
	margin-top: 4rem;
}

.demo_img {
	width: 100%;
	height: 100%;
	border-radius: 0.3rem;
}

#marque {
	margin-top: 4rem;
}

.marque_h2 {
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: -0.5px;
	text-align: center;
	margin-bottom: 1.75rem;
}

.brands_list {
	display: flex;
	align-items: center;
	gap: 1rem;
	margin-bottom: 6rem;
}

.brands {
	width: 18rem;
	height: 6rem;
	background-color: var(--foreground);
	border-radius: 0.3rem;
	border: 1px solid var(--border-2);
	display: flex;
	justify-content: center;
	align-items: center;
}

.brand_img {
	height: 5rem;
	width: 5rem;
}

#features {
	padding: 0 40px;
}

.features_container {
	display: flex;
	align-items: center;
	gap: 2rem;
	background-color: var(--foreground);
	border: 1px solid var(--border-2);
	padding: 1.2rem;
	border-radius: 0.3rem;
	margin-bottom: 6rem;
	cursor: pointer;
}

.features_container:hover {
	background-color: var(--foreground-muted);
	transition: all 0.2s ease-in-out;
}

.features_h3 {
	font-size: 1.5rem;
	font-weight: 500;
	letter-spacing: -0.5px;
	line-height: 33px;
}

.features_heading span {
	color: var(--secondary);
	font-size: 1.5rem;
	font-weight: 500;
	letter-spacing: -0.5px;
	line-height: 33px;
	display: inline-block;
}

.features_btn {
	margin-top: 1rem;
	border: none;
	background-color: transparent;
	color: var(--accent);
	font-size: 1rem;
	font-weight: 600;
	cursor: pointer;
	transition: all 0.1s ease-in;
}

.features_img {
	border-radius: 0.3rem;
}

#testimonials {
	margin: 6rem 0;
}

.testimonials_h2 {
	font-size: 2.2rem;
	font-weight: 500;
	letter-spacing: -0.5px;
	text-align: center;
	margin-bottom: 3.5rem;
}

.testimonials_container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	gap: 0.5rem;
	flex-wrap: wrap;
}

.testimonials_card {
	width: 27rem;
	height: 18rem;
	background-color: var(--foreground);
	border-radius: 0.3rem;
	border: 1px solid var(--border-2);
	padding: 16px 18px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.testimonial_p {
	font-size: 1.1rem;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: -0.5px;
}

.author {
	display: flex;
	gap: 1rem;
}

.author_img {
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 0.3rem;
}

.author_name {
	margin-top: 0.1rem;
	margin-bottom: 0.3rem;
	font-size: 1rem;
	font-weight: 500;
}

.author_role {
	font-size: 0.9rem;
	font-weight: 400;
	color: var(--secondary);
}

#features_card {
	margin: 6rem 0;
	padding: 4rem 0;
}

.features_card_h2 {
	font-size: 1.8rem;
	font-weight: 400;
	letter-spacing: -0.3px;
	margin-bottom: 0.5rem;
}

.features_card_container {
	margin: 2rem 0;
	display: flex;
	gap: 1rem;
}

.features_card {
	width: 27rem;
	height: 37rem;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	background-color: var(--foreground);
	border: 1px solid var(--border-2);
	border-radius: 0.3rem;
	flex-grow: 1;
	padding: 1rem;
	cursor: pointer;
}

.features_card:hover {
	background-color: var(--foreground-muted);
	transition: all 0.2s ease-in-out;
}

.feature_card_h3 {
	font-size: 1.3rem;
	font-weight: 400;
	letter-spacing: -0.3px;
	margin-bottom: 0.4rem;
}

.feature_card_p {
	font-size: 16px;
	color: var(--secondary);
}

.feature_card_btn {
	border: none;
	background-color: transparent;
	color: var(--accent);
	font-size: 1.2rem;
	font-weight: 400;
	cursor: pointer;
	transition: all 0.1s ease-in;
	margin-top: 1.8rem;
}

.feature_card_img {
	width: 100%;
	max-height: 450px;
	height: 410px;
	border-radius: 0.3rem;
}

.visuale_container_1 {
	width: 100%;
	max-height: 450px;
	height: 410px;
	background-color: var(--border);
	border-radius: 0.3rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.visuale_1 {
	height: 15rem;
	width: 20rem;
	border-radius: 0.5rem;
	border: 1px solid var(--border-3);
	background-color: var(--foreground);
	padding: 0.8rem 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.8rem;
}

.content_span {
	font-size: 0.9rem;
	font-weight: 400;
	letter-spacing: 0.5px;
}

.content_value {
	font-size: 0.9rem;
	font-weight: 400;
	color: var(--secondary);
}

.visuale_container_2 {
	width: 100%;
	max-height: 450px;
	height: 410px;
	background-color: var(--border-2);
	border-radius: 0.3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.visuale_2 {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	font-size: 14px;
	font-weight: 400;
}

.visual_2_input {
	padding: 8px 8px;
	border-radius: 0.5rem;
	background-color: var(--foreground-muted);
}

.visual_2_content span {
	color: var(--primary-muted);
}

.visual_2_content_span {
	color: var(--secondary);
}

#history {
	margin-top: 3rem;
	margin-bottom: 4rem;
}

#history h2 {
	font-size: 2rem;
	font-weight: 600;
	margin-bottom: 1rem;
}

.history_container {
	display: flex;
	gap: 1rem;
}

.container_box {
	width: 20rem;
	background-color: var(--foreground);
	border: 1px solid var(--border-2);
	border-radius: 0.3rem;
	padding: 1.5rem 1rem;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	cursor: pointer;
}

.container_box:hover {
	background-color: var(--foreground-muted);
	transition: all 0.2s ease-in-out;
}

.container_box span {
	font-size: 1.1rem;
	font-weight: 600;
	color: var(--secondary);
}

.container_box p {
	font-size: 1.2rem;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: -0.3px;
}

.version_badge {
	padding: 4px 12px;
	border: 1px solid var(--border);
	border-radius: 5rem;
	font-size: 0.6rem;
	font-weight: 400;
}

#history button {
	border: none;
	background-color: transparent;
	color: var(--accent);
	font-size: 1.2rem;
	font-weight: 400;
	cursor: pointer;
	transition: all 0.1s ease-in;
	margin-top: 1.8rem;
}

#cta {
	margin-top: 5rem;
	margin-bottom: 2rem;
}

#cta h2 {
	font-size: 2.5rem;
	font-weight: 500;
	max-width: 600px;
	line-height: 43px;
	letter-spacing: -0.5px;
	margin-bottom: 1.5rem;
}

#cta button {
	padding: 12px 18px;
	border-radius: 5rem;
	border: none;
	color: var(--foreground);
	background-color: var(--primary-color);
	font-size: 1.2rem;
	font-weight: 500;
	transition: all 0.1s ease-in;
	cursor: pointer;
	margin-bottom: 3rem;
}

#cta button:hover {
	background-color: var(--primary-muted);
	transition: all 0.3s ease-in-out;
}

#cta img {
	width: 100%;
	border-radius: 0.3rem;
	margin-bottom: 1rem;
}

#highlights {
	margin-top: 4rem;
	margin-bottom: 4rem;
	background-color: var(--foreground);
}

.highlights_contianer {
	width: 100%;
	padding: 6rem 0;
	display: grid;
	grid-template-columns: 400px 1fr;
}

.highlight_heading {
	grid-column-start: 1;
	position: relative;
}

.highlight_heading h2 {
	font-size: 1.2rem;
	font-size: 400;
	position: sticky;
	top: 0;
}

.highlight_content_container {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.highlight_content {
	max-width: 600px;
	grid-column-start: 2;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1.5rem;
	background-color: var(--secondary-muted);
	border: 1px solid var(--border-2);
	padding: 1rem;
	border-radius: 0.3rem;
}

.highlight_content:hover {
	background-color: var(--foreground-muted);
	transition: all 0.3 ease-in-out;
}

.highlight_content h4 {
	font-size: 1.2rem;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: -0.5px;
	margin-bottom: 0.3rem;
}

.highlight_content p {
	font-size: 1.1rem;
	font-weight: 400;
	color: var(--secondary);
	line-height: 20px;
	letter-spacing: -0.3px;
}

.highlight_content time span {
	font-size: 1.1rem;
	font-weight: 400;
	color: var(--secondary);
	line-height: 20px;
	letter-spacing: -0.3px;
}

#highlights button {
	display: flex;
	border: none;
	background-color: transparent;
	color: var(--accent);
	font-size: 1.2rem;
	font-weight: 400;
	cursor: pointer;
	transition: all 0.1s ease-in;
	margin-top: 1.8rem;
}

#cta_section {
	margin: 6rem 0;
}

.cta_section_content {
	padding: 5rem 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 3rem;
}

.cta_section_content h2 {
	font-size: 5rem;
	font-weight: 500;
	line-height: 43px;
	letter-spacing: -2px;
}

.cta_section_content button {
	padding: 12px 18px;
	border-radius: 5rem;
	border: none;
	color: var(--foreground);
	background-color: var(--primary-color);
	font-size: 1.2rem;
	font-weight: 500;
	transition: all 0.1s ease-in;
	cursor: pointer;
}

footer {
	margin-top: 4rem;
	background-color: var(--foreground);
}

.footer nav {
	display: flex;
	justify-content: space-between;
	padding: 5rem 0;
}

.footer_items h3 {
	font-size: 1rem;
	font-weight: 500;
	line-height: 24px;
	color: var(--primary-muted);
	letter-spacing: -0.2px;
	margin-bottom: 1rem;
}

.footer_ul {
	display: flex;
	flex-direction: column;
	gap: 0.6rem;
}

.footer_ul li {
	font-size: 0.9rem;
	font-weight: 400;
	line-height: 24px;
	list-style: none;
}

.footer_ul a {
	text-decoration: none;
	color: var(--primary-color);
}

.copy_rights {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 2rem;
}

.copy_rights small {
	font-size: 0.8rem;
	font-weight: 400;
	color: var(--primary-muted);
	text-decoration: none;
	margin-right: 0.5rem;
}
.copy_rights a {
	font-size: 0.8rem;
	font-weight: 400;
	color: var(--primary-muted);
	text-decoration: none;
}

.copy_rights select {
	padding: 10px 16px;
	background-color: transparent;
	border: 1px solid var(--border);
	border-radius: 5rem;
	text-align: center;
	color: var(--primary-muted);
	cursor: pointer;
}

.accesbility {
	display: flex;
	align-items: center;
	gap: 1.5rem;
}

.mode {
	padding: 4px 0;
	padding-left: 8px;
	padding-right: 12px;
	background-color: var(--secondary-muted);
	border: 1px solid var(--border);
	border-radius: 5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.mode span{
	padding: 6px 10px;
}

.system_svg{
	height: 35px;
	width: 55px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--foreground);
	border-radius: 5rem;
}

.mode img{
	height: 18px;
	width: 18px;
}

select option {
	background-color: var(--foreground);
	color: var(--primary-muted);
}
